{
	"scripts": [
		"scripts/homeautomation-config.php"
	],
	
	"bots": {
		"Pkj.AutomationAI.Bots.LoggerBot": {},
		"Pkj.AutomationAI.Bots.SpeechBot": {
			"provider": "google",
			"command": "/usr/bin/mplayer -ao alsa -really-quiet  -softvol -softvol-max 400  -noconsolecontrols \"http://translate.google.com/translate_tts?tl=en&q=%s\""
		},
		"Pkj.AutomationAI.Bots.WeatherBot": {
            "apikey": "",
            "units": "si",
            "latitude": "59.2096200",
            "longitude": "9.6089700"
        },
        "Pkj.AutomationAI.Bots.ZwayRazberryBot": {
            "devices": {
                "HALL-LIGHTS": "ZWayVDev_2:0:37"
            },
            "protocol": "http",
            "host": "localhost",
            "port": "8083"
        }
	},
	
	"services": {
            "Pkj.AutomationAI.Services.PingService": {
                "host": "10.0.0.99",
                "device_name": "my-phone"
            }
    },
	
	"timezone": "Europe/Oslo",
	
	"database": {
		"dsn": "mysql:host=localhost;dbname=aibot",
		"username": "aibot",
		"password": "aibot",
		"driver_options": {
		}
	}
	
}
